
@model Produit
@{
    ViewData["Title"] = "Edit";
}



<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row m-2">
            <h4 class="text-primary">Modifier un produit</h4>
        </div>
        <hr />
        <div class="mb-3">
            <label>Description</label>
            <input asp-for="Designation" class="form-control" />
            <span asp-validation-for="Designation" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Prix</label>
            <input asp-for="Prix" class="form-control" />
            <span asp-validation-for="Prix" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label>Quantite</label>
            <input asp-for="Quantite" class="form-control" />
            <span asp-validation-for="Quantite " class="text-danger"></span>

        </div>
        @*<div class="mb-3">
                <label>Categorie</label>
                <input asp-for="Categorie" />
            </div>*@
        <div class="form-group mb-3">
            <label class="control-label p-2">CategorieID</label>
            @*<input asp-for="CategorieID" class="form-control" />
              <span asp-validation-for="CategorieID" class="text-danger"></span>*@
            <select name="CatalogueID" style="Width:150px">
                @{
                    foreach (var c in ViewBag.categorie)
                    {
                        <option value="@c.CategorieID">@c.CategorieID</option>
                    }
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary mx-2" style="Width:150px">Update</button>
        <a asp-controller="Produit" asp-action="Index" class="btn btn-secondary mx-2" style="Width:150px">Back</a>

    </div>
</form>
